
<!DOCTYPE html charset="UTF-8" style="di">

<head>
    <link rel="icon" type="image/png" href="src/assets/lifemazelogo.png"/>
    <!--taking the style from style_contactus file-->
    <link rel="stylesheet" href="style_contactus.css">
    
</head>

<body style="direction: rtl;" color="white">
    <br> <br> <br>

    <font color="white"> </font>
    <link rel="stylesheet" href="style_contactus.css">
    <h1 >ברוכים הבאים למשחק</h1> <br>
    <img src="/assets/logolifemaze.png" alt="logo" width="300" height="300" > <br> <br>

    <p style="text-align:center;">השתחררת מהצבא? סיימת שירות לאומי? 
        מתקשה להתמודד עם המציאות החדשה ולהשתלב בעולם האמיתי? </p>
       <p>אז המשחק הזה הוא בדיוק בשבילך!</p><br><br><br>   

    <input type="button" value="בואו נשחק" style="margin-bottom: -200px;" onclick="location.href='/login'">
    
</body>
        
   