<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Signup form</title>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="center" style="margin-top: 80px;">
    <h1>LifeMaze - הרשמה</h1>
    <form method="post">
        <div class="txt_field">
            <input type="text" required style="text-align: center;" id = "myusername">
            <span></span>
            <label>שם משתמש</label>
        </div>
        <div class="txt_field">
            <input type="text" required style="text-align: center;" id = "myname">
            <span></span>
            <label>שם פרטי</label>
        </div>

        <div id="service" class="radio1">
        <h4>?איפה שירתת</h4>
        <label class="container">שירות לאומי
            <input type="radio" name = services id = myservice required>
            <span class="checkmark"></span>
          </label>
        </div>
        <div id="service" class="radio1">
        <label class="container">צבא ההגנה לישראל  
            <input type="radio" name = services id = myservice>
            <span class="checkmark"></span>
          </label>
        </div>

        <div id="gender" class="radio2">
        <h4>?זכר או נקבה</h4>
            <label class="container">זכר   
                <input type="radio" name = genders id = mygender required>
                <span class="checkmark"></span>
              </label>
            </div>

        <div id="gender" class="radio2">
            <label class="container">נקבה   
                <input type="radio" name = genders id = mygender>
                <span class="checkmark"></span>
              </label>
            </div>
        <div id="gender" class="radio2">
            <label class="container">אחר   
                <input type="radio" name = genders id = mygender>
                <span class="checkmark"></span>
              </label>
            </div>

        <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword">
            <span></span>
            <label>סיסמא</label>
        </div>
        <div class="txt_field">
            <input type="password" required style="text-align: center;" id = "mypassword2">
            <span></span>
            <label>אישור סיסמא</label>
        </div>
        <input type="button" value="!להירשם" style="margin-bottom: 10px;" class="btn">
        

    </form>
    </div>
    <script src = "signup.js"> 
    </script>
</body>
</html>
<!-- src="singup.js" -->